<main class="flex items-center justify-center geist-mono">
  <div class="w-full sm:w-96 max-w-md">
    <h1 class="font-inter font-bold text-3xl mb-10">Create Account</h1>
    <form class="xl:w-114 lg:w-5/6 md:w-114 geist-mono">
      <!-- ====================== Username Field ====================== -->
      <app-form-field label="Username" placeholder="Basma" [field]="registrationForm.username">
      </app-form-field>

      <!-- ====================== Email Field ====================== -->
      <app-form-field
        label="Email"
        type="email"
        [field]="registrationForm.email"
        placeholder="user@example.com"
      >
      </app-form-field>

      <!-- ====================== Phone Number Field ====================== -->
      <app-phone-input [field]="registrationForm.phone"> </app-phone-input>

      <!-- ====================== Password ====================== -->
      <app-password-input label="Password" [field]="registrationForm.password">
      </app-password-input>

      <!-- ====================== Confirm Password Field ====================== -->
      <app-password-input label="Confirm Password" [field]="registrationForm.confirmPassword">
      </app-password-input>

      <!-- ====================== Submit Button ====================== -->
      <app-button
        [btnDesc]="btnText"
        [classes]="btnClasses"
        [onClick]="handleClick.bind(this)"
        [disabled]="registrationForm().invalid()"
      ></app-button>
    </form>
    <p class="text-gray-500 mt-5 text-center geist-mono tracking-normal text-sm xl:text-base">
      Already have an account? <a class="text-blue-600" routerLink="/login"> Login </a>
    </p>
  </div>
</main>
