<main class="flex items-center justify-center">
  <div class="max-w-114">
    <h1 class="font-inter font-bold text-3xl mb-10">Login</h1>
    <form class="w-md geist-mono">
      <div class="space-y-2">
        <label class="text-sm font-medium leading-none"> Account Type </label>

        <div class="flex items-center gap-6 mt-1">
          <!-- Student -->
          <label class="flex items-center gap-2 cursor-pointer">
            <input type="radio" name="role" value="student" class="accent-blue-600" checked />
            <span class="text-sm">Student</span>
          </label>

          <!-- Instructor -->
          <label class="flex items-center gap-2 cursor-pointer">
            <input type="radio" name="role" value="instructor" class="accent-blue-600" />
            <span class="text-sm">Instructor</span>
          </label>
        </div>
      </div>

      <div class="space-y-2 my-5">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
        >
          Email </label
        ><input
          class="input-field"
          placeholder="user@example.com"
          aria-invalid="false"
          name="email"
          value=""
        />
      </div>
      <div class="space-y-2">
        <label
          class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
        >
          Password
        </label>
        <div class="relative">
          <input
            type="password"
            class="input-field"
            placeholder="********"
            aria-invalid="false"
            name="password"
            value=""
          /><button
            class="inline-flex items-center justify-center gap-2 whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 hover:text-accent-foreground rounded-md absolute right-0 top-0 h-full px-3 py-2 hover:bg-transparent"
            type="button"
            aria-label="Show password"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-eye h-4 w-4 text-muted-foreground"
              aria-hidden="true"
            >
              <path
                d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"
              ></path>
              <circle cx="12" cy="12" r="3"></circle>
            </svg>
          </button>
        </div>
      </div>
      <a class="flex justify-end mt-2 text-blue-600 mb-10" href="/forgotpassword"
        >Forgot your password?</a
      ><app-button
        [btnDesc]="btnText"
        [classes]="btnClasses"
        [onClick]="handleClick.bind(this)"
      ></app-button>
    </form>
    <p class="text-gray-500 mt-9 text-center geist-mono tracking-normal">
      Don't have an account?
      <a class="text-blue-600" routerLink="/register"> Create yours </a>
    </p>
  </div>
</main>
