<main class="flex items-center justify-center">
  <div class="w-full sm:w-96 max-w-md">
    <h1 class="font-inter font-bold text-3xl mb-10">Login</h1>
    <form class="xl:w-114 lg:w-5/6 md:w-114 geist-mono">
      <div class="space-y-2 mb-5">
        <label class="text-sm font-medium leading-none">Account Type</label>

        <div class="flex items-center gap-6 mt-1">
          <!-- Student -->
          <label class="flex items-center gap-2 cursor-pointer">
            <input
              type="radio"
              value="student"
              class="accent-blue-600"
              [checked]="formModel().role === 'student'"
              (change)="onRoleChange('student')"
            />
            <span class="text-sm">Student</span>
          </label>

          <!-- Instructor -->
          <label class="flex items-center gap-2 cursor-pointer">
            <input
              type="radio"
              value="instructor"
              class="accent-blue-600"
              [checked]="formModel().role === 'instructor'"
              (change)="onRoleChange('instructor')"
            />
            <span class="text-sm">Instructor</span>
          </label>
        </div>

        <!-- Validation Error -->
        @if (loginForm().touched() && loginForm().errors().length > 0) {
          @for (error of loginForm().errors(); track error) {
            <div class="text-red-500 text-sm mt-1">
              {{ error.message }}
            </div>
          }
        }
      </div>

      <!-- ====================== Email Field ====================== -->
      <app-form-field
        label="Email"
        type="email"
        [field]="loginForm.email"
        placeholder="user@example.com"
      >
      </app-form-field>

      <!-- ====================== Password ====================== -->
      <app-password-input label="Password" [field]="loginForm.password"> </app-password-input>

      <app-button
        [btnDesc]="btnText"
        [classes]="btnClasses"
        [onClick]="handleClick.bind(this)"
        [disabled]="loginForm().invalid()"
      ></app-button>
    </form>
    <p class="text-gray-500 mt-5 text-center geist-mono tracking-normal text-sm xl:text-base">
      Don't have an account?
      <a class="text-blue-600" routerLink="/register"> Create yours </a>
    </p>
  </div>
</main>
