<div class="space-y-2 mb-5">
  <label class="text-sm font-medium">{{ label }}</label>

  <div class="relative">
    <input
      class="input-field"
      [type]="show() ? 'text' : 'password'"
      [formField]="field"
      placeholder="********"
    />

    <button
      type="button"
      (click)="toggle()"
      class="absolute right-0 top-0 h-full px-3 cursor-pointer"
    >
      @if (!show()) {
        👁
      } @else {
        🙈
      }
    </button>
  </div>

  @if (field().touched() && field().errors().length) {
    @for (error of field().errors(); track error) {
      <p class="text-red-500 text-sm">{{ error.message }}</p>
    }
  }
</div>
