/* ====================  Tailwind CSS Configuration ====================*/

@import 'tailwindcss';

/*==================== Custom Variants - Dark mode for nested elements ====================*/

@custom-variant dark (&:where(.dark, .dark *));

/*====================  THEME VARIABLES (Light & Dark) ====================*/
.input-field {
  @apply flex w-full border border-gray-200 px-3 py-2 text-base 
    file:border-0 file:bg-transparent file:text-sm file:font-medium 
    focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-blue-600
    disabled:cursor-not-allowed disabled:opacity-50 md:text-sm my-1;
}

.geist-mono {
  font-family: 'Geist Mono', monospace;
}
